* {
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 10px;
    margin: 30px;
    background-color: #011627;
}

.titre {
    color: #2ec4b6;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #011627;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    background-color: #fdfffc;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, .logo {
    font-family: Changa One, cursive;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75em;
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #e71d36;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

ul {
    list-style-type: none;
}

.nom {
    color: #2ec4b6;
    font-size: 1.75rem;
    line-height: 0.8;
    margin: 1rem 0;
}

.metier {
    margin-top: -5px;
}

header nav ul {
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 1em;
}

.hide {
    display: none;
}