* {
    box-sizing: border-box;
}

header {
    background-color: #011627;
    text-align:center;
}

.titre {
    color: #2ec4b6;
}

body {
    font-family: Arial, sans-serif;
    color: #011627;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}